# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore environment variables
.env

# Ignore build output
/dist/

# Ignore IDE settings
.idea/
*.iml

npm-debug.log
yarn-debug.log
yarn-error.log

